.wrapper {
  padding-top: 86px;
  padding-right: 86px;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}
.actionBlock h1 {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 4rem;
  line-height: 72px;
  letter-spacing: -0.6px;
  margin-bottom: 25px;
  margin-top: 45px;
  color: var(--white-09);
}
.actionBlock h1 span {
  background: var(--secondary-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.actionBlock p {
  font-weight: 300;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.1px;
  color: var(--white);
  opacity: 0.7;
  margin-bottom: 40px;
  max-width: 628px;
}
.actions {
  display: flex;
  column-gap: 20px;
  row-gap: 24px;
}

.referral {
  width: 412px;
  background: var(--panel-back);
  border: 1px solid var(--panel-border);
  border-radius: 10px;
  padding: 4px 4px 0 4px;
  position: relative;
}
.referral .img {
  display: flex;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  border-radius: 8px 8px 4px 4px;
  position: relative;
  z-index: 1;
}
.referral .img >video {
  border-radius: 8px;
}
.referral .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 16px;
  position: relative;
  z-index: 1;
}
.referral .data {
  font-size: 0.875rem;
  position: relative;
}
.referral .name {
  color: var(--white);
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.referral .creator {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.15px;
  color: var(--white-06);
}
.referral .data a {
  color: var(--white-08);
  font-weight: 500;
}
.referral .data a:hover {
  text-decoration: none;
  color: var(--white);
}
.filter {
  position: absolute;
}
.filter1 {
  width: 260px;
  height: 260px;
  left: -60px;
  bottom: -48px;
  background: var(--referral-filter1);
  opacity: 0.15;
  filter: blur(200px);
}
.filter2 {
  width: 280px;
  height: 280px;
  right: 70px;
  top: -80px;
  background: var(--referral-filter2);
  opacity: 0.15;
  filter: blur(200px);
}
.filter3 {
  width: 300px;
  height: 300px;
  right: -106px;
  bottom: 25px;
  background: var(--referral-filter3);
  opacity: 0.15;
  filter: blur(200px);
}
.etherscanlink {
  display: flex;
}

@media (max-width: 1350px) {
  .wrapper {
    padding-top: 0;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding-left: 0;
    padding-right: 0;
  }
  .actionBlock {
    padding: 0 16px;
  }
  .actionBlock h1 {
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    letter-spacing: -0.2px;
    margin-top: 40px;
  }
  .actionBlock p {
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
  }
  .actions {
    flex-direction: column;
    justify-content: center;
  }
  .filter {
    filter: blur(120px);
  }
  .filter2 {
    top: -56px; left: 50%;
    transform: translateX(-50%);
  }
  .filter1 {
    bottom: -80px; left: -48px;
  }
  .filter3 {
    bottom: -56px; right: -48px;
  }
}

@media (max-width: 1080px) {
  .actions {
    margin-bottom: 32px;
  }
}

@media (max-width: 560px) {
  .referral {
    max-width: fit-content;
    width: 100%;
  }
  .referral .img {
    max-width: 400px;
    max-height: 400px;
    width: 100%;
  }
}

@media (max-width: 420px) {
  .referral .img {
    /* max-width: 280px;
    max-height: 280px; */
    width: 320px;
    height: 320px;
  }
}