.section {
  margin: 112px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.sectionTitle {
  font-weight: 600;
  font-size: 3rem;
  line-height: 54px;
  text-align: center;
  letter-spacing: -0.4px;
  color: var(--white-09);
  margin: 0 auto 72px;
}
.sectionTitle span {
  background: var(--secondary-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* statsSection */
.cards {
  display: flex;
  justify-content: space-between;
}
.statsCard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 44px;
  width: 304px;
  height: 194px;
  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(72px);
  border-radius: 8px;
  overflow: hidden;
}
.statsCard .filter {
  position: absolute;
  width: 197px;
  height: 144px;
  left: -28px;
  top: -70px;
  filter: blur(72px);
}
.statsCard .filter1 {
  background: #7a40c0;
  opacity: 0.22;
}
.statsCard .filter2 {
  background: #ca5ed6;
  opacity: 0.15;
}
.statsCard .filter3 {
  background: #3690d2;
  opacity: 0.12;
}
.statsCard .filter4 {
  background: #ff7686;
  opacity: 0.1;
}
.statsCard .value {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 2.375rem;
  font-weight: 600;
  color: var(--white-09);
  line-height: 46px;
  letter-spacing: -0.2px;
}
.statsCard .text {
  margin-top: 16px;
  color: var(--white-06);
  font-weight: 500;
}

/* earnSection */
.earnSection {
  margin: 180px auto;
}
.rewardCard {
  position: relative;
  width: 412px;
  height: 318px;
  left: 0px;
  top: 0px;
  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(72px);
  border-radius: 8px;
  padding: 32px 36px 36px;
  overflow: hidden;
}
.rewardCard .title {
  color: var(--white-09);
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 38px;
  letter-spacing: -0.15px;
}
.rewardCard .text {
  margin-top: 12px;
  color: var(--white-06);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.rewardCard .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 6px;
  margin-bottom: 20px;
}
.rewardCard .filter {
  position: absolute;
  width: 197px;
  height: 144px;
  left: -27px;
  top: -31px;
  opacity: 0.1;
  transform: rotate(-22.11deg);
  filter: blur(72px);
  background-color: var(--purple);
}
.rewardCard a {
  display: block;
  margin-top: 28px;
  font-weight: 500;
  color: var(--purple);
}
.rewardCard a svg {
  margin-left: 9px;
}
.rewardCard a:hover {
  color: var(--purple);
  transform: scale(1.01);
}

/* partnersSection */
.partnersSection {
  margin-bottom: 220px;
  display: flex;
  flex-direction: column;
}
.partnersLogos {
  background: var(--dark-grey-3);
  border-radius: 8px;
  padding: 64px 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1300px) {
  .cards {
    flex-flow: wrap;
    max-width: 650px;
    margin: 0 auto;
    justify-content: space-between;
  }
  .cards .statsCard {
    margin-bottom: 32px;
  }
  .earnSection .cards {
    flex-direction: column;
    align-items: center;
  }
  .earnSection .rewardCard {
    margin-bottom: 24px;
  }
}

@media (max-width: 991px) {
  .partnersLogos {
    flex-direction: column;
    padding: 44px 24px;
  }
  .partnersLogos svg,
  .partnersLogos img {
    margin-bottom: 32px;
  }
  .partnersLogos svg:last-child,
  .partnersLogos img:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .cards {
    max-width: 500px;
    justify-content: center;
  }

  .rewardCard {
    max-width: 100%;
    width: auto;
    height: auto;
  }
}
