.wrapper {
  width: 100%;
  margin-top: 100px;
  height: 37px;
  background: var(--dark-grey-5);
  border: 1px solid var(--dark-grey-11);
  display: flex;
  align-items: center;
  flex-flow: wrap;
  overflow: hidden;
}
.item {
  border-right: 1px solid var(--dark-grey-15);
  padding: 0 16px;
  max-width: 170px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.15px;
  color: var(--white-06);
  margin: 7px 0;
}
.item span {
  font-size: 0.875rem;
  font-weight: 500;
}
